.container {
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.card {
  position: relative;
  margin: 10px auto;
  width: 300px;
  height: fit-content;
  .phone {
    font-weight: bold;
  }

  .address {
    font-size: 0.8em;
  }
}