.container {
  width: 90%;
  @media (min-width: 1200px) {
    width: 60%;
  }
  max-width: 800px;
}
.textarea {
  resize: none;
}
.buttonContainer {
  margin-left: 20%;
  .createDepartmentButton {
    margin-right: 5px;
  }
  .resetButton {
    margin-right: 10px;
  }
}
